.settings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	position: relative;
	overflow-x: hidden;
	min-height: 100vh;
	color: var(--Dark-font-color);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex-grow: 1;
		width: 100%;
		height: 100%;
		position: relative;
		background: var(--Dark-bg-secondary);
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 10px;
		font-size: 20px;
		cursor: pointer;

		&:hover {
			background: rgb(49, 48, 48);
		}
		div {
			svg {
				path {
					stroke: #fff;
				}
				g {
					path {
						fill: #fff;
					}
				}
			}
		}
	}
	&__title {
		font-size: 24px;
		width: 100%;
		padding: 15px;
		border-bottom: 1px solid #fff;
	}
	&__left {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		svg {
			margin-right: 15px;
		}
		padding-left: 15px;
	}
	&__right {
		display: flex;
		flex-direction: row;
		margin-right: 15px;
		p {
			margin-right: 15px;
		}
	}

	&__logout {
		padding-top: 15px;
		border-top: 1px solid #fff;
		padding-left: 15px;
		padding-bottom: 10px;
	}

	&__change {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 80%;
			input {
				width: 100%;
				font-size: 24px;
				margin-bottom: 10px;
			}
			button {
				justify-self: center;
				align-self: center;
				margin-top: 20px;
				background-color: rgb(41, 141, 255);
				cursor: pointer;
				border: 2px solid rgba(255, 255, 255, 0.2);
				color: #fff;
				padding: 10px 40px;
				font-size: 24px;
			}
		}
	}
	&__subtitle {
		text-align: start;
		width: 100%;
		font-size: 24px;
		&_error {
			color: red;
		}
	}
}
